<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <title>公告通知</title>
    <link type="text/css" rel="stylesheet" href="/files/css/main.css">
    <script language="javascript" type="text/javascript" src="/files/js/jquery-3.3.1.js"></script>
    <script language="javascript" type="text/javascript" src="/files/js/main.js"></script>
</head>

<body>
<ul class="announcement_notice">
    <volist name="list" id="vo">
        <li>
            <a href="{:U('Netsign/noticeinfo',array('id'=>$vo['id']))}">
                <p>{$vo.title}</p>
                <span>{$vo.addtime}</span>
            </a>
        </li>
    </volist>
</ul>
</body>
</html>
