<include file="Index/header" />
<form style="width:90%;text-align: center">
    <input type="hidden" name="id" value="{$admin.id}">
    <table>
        <tr>
            <td align="right" height="50" width="50%"><label>权限组：</label></td>
            <td align="left">
                <select name="group_id" class="level select radius" style="width:200px;height: 30px">
                    <volist name="group" id="vo">
                        <option value="{$key}" <eq name="admin.group_id" value="$key">selected</eq>>{$vo}</option>
                    </volist>
                </select>
            </td>
        </tr>
        <tr>
            <td align="right" height="50" width="50%"><label>请输入新密码：</label></td>
            <td align="left"><input name="password" value="" type="password" class="input-text radius" placeholder="不填默认不修改" style="width:200px;height: 30px"></td>
        </tr>
    </table>
</form>
<include file="Index/foot" />