<include file="Index/header"/>
<header class="navbar-wrapper">
    <div class="navbar navbar-fixed-top navbar_new">
        <div class="container-fluid cl">
            <a class="logo navbar-logo f-l mr-10 hidden-xs navbar_fa_font" href="{:U('Index/index')}">
				<img src="__PUBLIC__/admin/static/h-ui/images/bar_logo.png">
				<span>智慧税务网签管理系统</span>
			</a>
            <nav id="Hui-userbar" class="nav navbar-nav navbar-userbar hidden-xs">
                <ul class="cl" style="margin-top: 30px;">
                    <!--<li class="dropDown dropDown_hover">-->
                    <!--<a href="#" class="dropDown_A"><i class="admin_icon"></i>{$Think.session.admin.username}-->
                    <!--<i class="Hui-iconfont">&#xe6d5;</i>-->
                    <!--</a>-->
                    <!--<ul class="dropDown-menu menu radius box-shadow">-->
                    <!--<li><a href="javascript:;">个人资料</a></li>-->
                    <!--</ul>-->
                    <!--</li>-->

                    <li class="dropDown dropDown_hover">
                        <a href="javascript:;" class="clearche">
<!--                            <i class="cache_icon"></i> -->
							更新缓存
                        </a>
                    </li>
                    <!--<li><a href="{:U('Login/index')}"><i class="switch_icon"></i>切换账户</a></li>-->
                    <li><a href="{:U('Login/index')}">
<!--						<i class="exit_icon"></i>-->
						退出</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<aside class="Hui-aside aside_fa_bg">
    <input runat="server" id="divScrollValue" type="hidden" value=""/>
    <div class="menu_dropdown bk_2">
        <volist name="menu" id="vo">
            <dl id="menu-{$vo.id}">
                <dt class="aside_fa_dt">
                    <i class="aside_fa_sty fa fa-{$vo.icon}"></i>
                    <span class="aside_fa_nam">{$vo.name}</span>
                    <i class="Hui-iconfont menu_dropdown-arrow aside_fa_arw">&#xe6d5;</i>
                </dt>
                <dd class="aside_fa_dd">
                    <ul>
                        <volist name="vo.items" id="v">
                            <li>
                                <a _href="__APP__/Admin/{$v.controller}/{$v.action}" data-title="{$v.name}" href="javascript:void(0)">
                                    <i class="fa fa-{$v.icon}"></i> {$v.name}
                                </a>
                            </li>
                        </volist>
                    </ul>
                </dd>
            </dl>
        </volist>
    </div>
</aside>
<div class="dislpayArrow hidden-xs">
    <a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a>
</div>
<section class="Hui-article-box">
    <div id="Hui-tabNav" class="Hui-tabNav hidden-xs">
        <div class="Hui-tabNav-wp">
            <ul id="min_title_list" class="acrossTab cl">
                <li class="active">
                    <span title="我的桌面" data-href="{:U('Index/welcome')}">我的桌面</span>
                    <em></em>
                </li>
            </ul>
        </div>
        <div class="Hui-tabNav-more btn-group">
            <a id="js-tabNav-prev" class="btn radius btn-default size-S" href="javascript:;">
                <i class="Hui-iconfont">&#xe6d4;</i>
            </a>
            <a id="js-tabNav-next" class="btn radius btn-default size-S" href="javascript:;">
                <i class="Hui-iconfont">&#xe6d7;</i>
            </a>
        </div>
    </div>
    <div id="iframe_box" class="Hui-article">
        <div class="show_iframe">
            <div style="display:none" class="loading"></div>
            <iframe scrolling="yes" frameborder="0" src="{:U('Index/welcome')}"></iframe>
        </div>
    </div>
</section>
<include file="Index/foot"/>
<script>
    $('.clearche').click(function () {
        $.post('{:U("Index/clearchache")}', function (data) {
            if (data.status == 1) {
                layer.msg(data.msg);
            }
        }, 'json');
    })
    $('.view_window').click(function () {
        layer.open({
            type: 2,
            title: '商户设置',
            shadeClose: true,
            shade: 0.8,
            area: ['380px', '60%'],
            content: "{:U('Admin/merchant')}" //iframe的url
        });
    })
	$(".aside_fa_dd ul li a").each(function(index){
		$(".aside_fa_dd ul li a").eq(index).click(function(){
			$(".aside_fa_dd ul li a").removeClass("nav_dd_cur");
			$(".aside_fa_dd ul li a").eq(index).addClass("nav_dd_cur");
		})
	})
</script>