<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <title>签署文件详情</title>
    <link type="text/css" rel="stylesheet" href="/files/css/main.css">
    <script language="javascript" type="text/javascript" src="/files/js/jquery-3.3.1.js"></script>
    <script language="javascript" type="text/javascript" src="/files/js/main.js"></script>
</head>

<body>
<div class="sign-initiate-man">
    <p class="sign-initiate-man-name">
        <img src="/files/images/header-img.png">
        <span>{$username}</span>
        <m>发起时间：{$start_time}</m>
    </p>
    <p class="sign-initiate-man-tips">
        <span>发起</span>
    </p>
</div>
<div class="sign-document-info">
    <p class="sign-document-info-title">{$name}</p>
    <p class="sign-document-info-tips">
        <eq name="status" value="1">
            <span class="sign-document-info-wait">签署中</span>
        </eq>
        <eq name="status" value="2">
            <span class="sign-document-info-completed">已完成</span>
        </eq>
        <eq name="status" value="3">
            <span class="sign-document-info-refuse">已拒签</span>
        </eq>
        <eq name="status" value="4">
            <span class="sign-document-info-past">已过期</span>
        </eq>
    </p>
    <p class="sign-document-info-date">结束时间：{$end_time}</p>
</div>
<ul class="sign-document-step">
    <volist name="list" id="vo">
        <li>
            <div class="sign-document-step-cont">
                <div class="sign-document-step-number">
                    <span>{$vo.orders}</span>
                </div>
                <div class="sign-document-step-text">
                    <p class="sign-document-step-name">
                        <span>{$vo.username}</span>
                        <span class="sign-document-step-label">
                            <eq name="vo.type" value="1">签名</eq>
                            <eq name="vo.type" value="2">印章</eq>
                        </span>
                    </p>
                    <div class="sign-document-step-tel">
                        <p>
                            <span>{$vo.tel}</span>
                            <eq name="vo.issign" value="1">
                                <m class="sign-document-step-wait">签署中</m>
                            </eq>
                            <eq name="vo.issign" value="2">
                                <m class="sign-document-step-completed">已完成</m>
                            </eq>
                            <eq name="vo.issign" value="3">
                                <m class="sign-document-step-refuse">已拒签</m>
                                <p class="refusal-reason">{$username}已被拒签，拒签理由：{$vo.remark}</p>
                            </eq>
                            <eq name="vo.issign" value="4">
                                <m class="sign-document-step-nostart">已过期</m>
                            </eq>
                            <eq name="vo.issign" value="5">
                                <m class="sign-document-step-wait">未开始</m>
                            </eq>
                        </p>
                        <php>
                            if($vo['issign']==1 && $vo['uid'] == $uid && $status !=4){
                        </php>
                            <a href="/home/sendsign/signnamesign/type/{$vo.type}/id/{$id}/orders/{$vo.orders}" class="sign-document-step-sign">签署</a>
                        <php>
                            }
                        </php>
                    </div>
                </div>
            </div>
        </li>
    </volist>

   <!-- <li>
        <div class="sign-document-step-cont">
            <div class="sign-document-step-number">
                <span>2</span>
            </div>
            <div class="sign-document-step-text">
                <p class="sign-document-step-name">
                    <span>姓名</span>
                    <span class="sign-document-step-label">签字</span>
                    <span class="sign-document-step-seal"></span>
                </p>
                <div class="sign-document-step-tel">
                    <p>
                        <span>13312345678</span>
                        <m class="sign-document-step-wait">待签署</m>
                    </p>
                    <a href="sign_immediately.html" class="sign-document-step-sign">签署</a>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="sign-document-step-cont">
            <div class="sign-document-step-number">
                <span>3</span>
            </div>
            <div class="sign-document-step-text">
                <p class="sign-document-step-name">
                    <span>姓名</span>
                    <span class="sign-document-step-label">印章</span>
                    <span class="sign-document-step-seal">印章名称印章名称</span>
                </p>
                <div class="sign-document-step-tel">
                    <p>
                        <span>13312345678</span>
                        <m class="sign-document-step-wait">待签署</m>
                    </p>
                    <a href="immediate_stamp.html" class="sign-document-step-sign">签署</a>
                </div>
            </div>
        </div>
    </li>-->
</ul>
<div class="index-footer-height"></div>
<ul class="index-footer">
    <li>
        <a href="/home/sendsign/forminfo/id/{$id}" class="index-footer-cur">
            <img src="/files/images/index-footer-icon-03-a.png">
            <span>文件详情</span>
        </a>
    </li>
    <li>
        <a href="/home/sendsign/imginfo/id/{$id}">
            <img src="/files/images/index-footer-icon-04.png">
            <span>文件预览</span>
        </a>
    </li>
</ul>
</body>
</html>
