<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <title>网签</title>
    <link type="text/css" rel="stylesheet" href="/files/css/main.css">
    <script language="javascript" type="text/javascript" src="/files/js/jquery-3.3.1.js"></script>
    <script language="javascript" type="text/javascript" src="/files/js/main.js"></script>
</head>

<body>
<div class="start-signing">
    <div class="start-signing-num">
        <a href="{:U('sendsign/waitmysignlist')}">
            <p>待我签署</p>
            <span>{$mycount}</span>
        </a>
        <a href="{:U('sendsign/mysignlist')}">
            <p>待他人签署</p>
            <span>{$othercount}</span>
        </a>
    </div>
    <a href="{:U('Sendsign/photo')}" class="start-signing-btn">开始签署</a>
</div>
<ul class="latest-documents">
    <p class="latest-documents-title"><span>最新文件</span></p>
    <volist name="list" id="vo">
        <li>
            <a href="/home/sendsign/forminfo/id/{$vo.id}">
                <p>{$vo.name}</p>
                <p>
                    <span>发起时间：{$vo.starttime}<br />结束时间：{$vo.endtime}</span>

                    <eq name="vo.status" value="1"><m class="i-signed">未完成</m></eq>
                    <eq name="vo.status" value="2"><m class="sign-complete">已完成</m></eq>
                    <eq name="vo.status" value="3"><m class="refusal-sign">已拒签</m></eq>
                    <eq name="vo.status" value="4"><m class="past-due">已过期</m></eq>
                </p>
            </a>
        </li>
    </volist>
</ul>
<div class="net-sign-footer-height"></div>
<ul class="net-sign-footer">
    <li>
        <a href="{:U('Sendsign/index')}" class="net-sign-footer-cur">
            <img src="/files/images/net-sign-footer-icon-01-a.png">
            <span>发起审批</span>
        </a>
    </li>
    <li>
        <a href="{:U('Sendsign/alllist')}">
            <img src="/files/images/net-sign-footer-icon-03.png">
            <span>签署文件</span>
        </a>
    </li>
    <li>
        <a href="{:U('Sendsign/userlist')}">
            <img src="/files/images/net-sign-footer-icon-04.png">
            <span>机构设置</span>
        </a>
    </li>
</ul>
</body>
</html>
