<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <title>人员选择</title>
    <link type="text/css" rel="stylesheet" href="/files/css/main.css">
    <script language="javascript" type="text/javascript" src="/files/js/jquery-3.3.1.js"></script>
    <script language="javascript" type="text/javascript" src="/files/js/main.js"></script>
</head>

<body>
<div class="signature-class">
    <a href="javascript:void(0)" class="signature-class-cur">签字</a>
    <a href="javascript:void(0)">印章</a>
</div>
<div class="sign-seal sign-seal-cur">
    <div class="tax-documents-search2">
        <input type="text" placeholder="请输入搜索文件名称">
        <a href="" class="tax-documents-search-btn">搜索</a>
    </div>
    <div class="search-height2"></div>

    <ul class="institutional-settings">
        <li>
            <a href="javascript:void(0)" class="institutional-settings-a institutional-settings-cur">白塔地税</a>
            <div class="institutional-settings-list institutional-settings-list-cur">
                <a href="signature_list_b.html">地税公司</a>
                <a href="signature_list_b.html">国税公司</a>
            </div>
        </li>
        <li>
            <a href="javascript:void(0)" class="institutional-settings-a">白塔地税2</a>
            <div class="institutional-settings-list">
                <a href="signature_list_b.html">地税公司2</a>
                <a href="signature_list_b.html">国税公司2</a>
            </div>
        </li>
    </ul>
    <ul class="institutional-man">
        <li>
            <a class="background-none">
                <p class="signature-choose signature-choose-cur"></p>
                <img src="/files/images/header-img.png">
                <div class="institutional-man-info2">
                    <p>姓名<m>职务</m></p>
                    <span>13312345678</span>
                </div>
            </a>
        </li>
    </ul>
</div>
<div class="sign-seal sign-seal-cur">
    <ul class="institutional-man">
        <li>
            <a class="background-none">
                <p class="signature-choose signature-choose-cur"></p>
                <img src="files/images/header-img.png">
                <div class="institutional-man-info2">
                    <p>姓名<m>职务</m></p>
                    <span>13312345678</span>
                </div>
            </a>
        </li>
        <li>
            <a class="background-none">
                <p class="signature-choose"></p>
                <img src="files/images/header-img.png">
                <div class="institutional-man-info2">
                    <p>姓名<m>职务</m></p>
                    <span>13312345678</span>
                </div>
            </a>
        </li>
    </ul>
</div>
<div class="sure-btn-height"></div>
<div class="tax-documents-down-btn">
    <a href="">确定</a>
</div>
</body>
</html>
