<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <title>模板详情</title>
    <link type="text/css" rel="stylesheet" href="/files/css/main.css">
    <script language="javascript" type="text/javascript" src="/files/js/jquery-3.3.1.js"></script>
    <script language="javascript" type="text/javascript" src="/files/js/main.js"></script>
</head>

<body>
<input id="imgid" type="hidden" value="{$imgid}">
<p class="template-detail-title">{$name}</p>
<ul class="signing-step-list2">
    <volist name="list" id="vo">
        <li>
            <div class="signing-step-cont2">
                <div class="signing-step-number2">
                    <span>{$vo.orders}</span>
                </div>
                <div class="signing-step-text3">
                    <p class="signing-step-name2">
                        <span>{$vo.username}</span>
                        <eq name="vo.type" value="1">
                            <span class="signing-step-label2">签名</span>
                        </eq>
                        <eq name="vo.type" value="2">
                            <span class="signing-step-seal2">印章</span>
                            <m>{$vo.sealname}</m>
                        </eq>
                    </p>
                    <div class="signing-step-tel2">
                        <p>
                            <span>{$vo.tel}</span>
                        </p>
                    </div>
                </div>
            </div>
        </li>
    </volist>

   <!-- <li>
        <div class="signing-step-cont2">
            <div class="signing-step-number2">
                <span>2</span>
            </div>
            <div class="signing-step-text3">
                <p class="signing-step-name2">
                    <span>姓名</span>
                    <span class="signing-step-seal2">印章</span>
                    <m>印章名称印章名称</m>
                </p>
                <div class="signing-step-tel2">
                    <p>
                        <span>13312345678</span>
                    </p>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="signing-step-cont2">
            <div class="signing-step-number2">
                <span>3</span>
            </div>
            <div class="signing-step-text3">
                <p class="signing-step-name2">
                    <span>姓名</span>
                    <span class="signing-step-label2">签名</span>
                </p>
                <div class="signing-step-tel2">
                    <p>
                        <span>13312345678</span>
                    </p>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="signing-step-cont2">
            <div class="signing-step-number2">
                <span>4</span>
            </div>
            <div class="signing-step-text3">
                <p class="signing-step-name2">
                    <span>姓名</span>
                    <span class="signing-step-label2">签名</span>
                </p>
                <div class="signing-step-tel2">
                    <p>
                        <span>13312345678</span>
                    </p>
                </div>
            </div>
        </div>
    </li>-->
</ul>
<eq name="htid" value="">
        <div class="tax-documents-down-btn">
            <a href="/home/sendsign/signdo/id/{$imgid}/mid/{$mid}">确定</a>
        </div>
    <else/>
        <div class="tax-documents-down-btn">
            <a href="/home/sendsign/zgysigndo/htid/{$htid}/id/{$imgid}/mid/{$mid}">确定</a>
        </div>
</eq>

</body>
</html>
