<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <title>发起签署</title>
    <link type="text/css" rel="stylesheet" href="/files/css/main.css">
    <script language="javascript" type="text/javascript" src="/files/js/jquery-3.3.1.js"></script>
    <script language="javascript" type="text/javascript" src="/files/js/main.js"></script>
    <script language="javascript" type="text/javascript" src="/files/layer_mobile/layer.js"></script>
</head>

<body>
<div class="signing-info">
    <img src="{$info.img}">
    <div class="signing-cont">
        <p class="signing-cont-title">{$worker}</p>
        <p class="signing-cont-tips">
            <span>发起</span>
        </p>
        <p class="signing-cont-text">
            <span>发起时间：{$time|date="Y-m-d H:i:s",###} </span>
            <span>文件数量：{$count}</span>
        </p>
    </div>
</div>
<div class="signing-list">
    <span>签署结束时间</span>
    <input type="date" class="signing-list-date" id="endtime">
</div>
<div class="signing-list">
    <span>是否自动流转</span>
    <p class="circulation">
        <a href="javascript:void(0)" class="circulation-cur" data-id="1"></a>
        <m>是</m>
        <a href="javascript:void(0)" data-id="2"></a>
        <m>否</m>
    </p>
</div>
<div id="sss" style="display: none;">
    <div class="signature-class">
        <a href="javascript:void(0)" class="signature-class-cur" id="oneclick">签字</a>
        <a href="javascript:void(0)">印章</a>
    </div>
    <div class="sign-seal sign-seal-cur">
        <div class="tax-documents-search2">
            <input type="text" placeholder="请输入搜索文件名称" id="signnamesearch">
            <a href="javascript:void(0)" onclick="getsignlist(this)" data-name="{$first}" data-status="remove" data-fid="0" class="tax-documents-search-btn">搜索</a>
        </div>
        <div class="institutional-hierarchy2">
            <p id="topnav">
                <a href="javascript:void(0)" onclick="getsignlist(this)" data-name="{$first}" data-status="remove" data-fid="0">{$first}</a>
            </p>
        </div>
        <div class="search-height4"></div><!-- 显示 -->
        <!--<div class="search-height2"></div>--><!-- 不显示-->

        <ul class="institutional-settings" style="overflow: scroll; height: 40vh;" id="signnamelist">
            <volist name="signnamelist" id="vo">
                <li>
                    <a href="javascript:void(0)" class="institutional-settings-a getlist" data-fid="{$vo.uid}" data-name="{$vo.username}" data-status="add" onclick="getsignlist(this)">{$vo.username}</a>
                </li>
            </volist>
        </ul>
        <ul class="institutional-man" id="signnamelist-user" style="overflow: scroll; height: 40vh;">
            <volist name="people" id="vo">
                <li>
                    <a class="background-none">
                        <p class="signature-choose"></p>
                        <!-- <img src="/files/images/header-img.png">-->
                        <div class="institutional-man-info2">
                            <p>{$vo.username}</p>
                            <span>{$vo.tel}</span>
                        </div>
                    </a>
                </li>
            </volist>
        </ul>
    </div>
    <div class="sign-seal">
        <div class="search-height" style="height: 14.18vw;"></div>
        <ul class="institutional-man" style="overflow: scroll; height: 40vh;">
            <volist name="seallist" id="vo">
                <li>
                    <a class="background-none">
                        <p class="signature-choose signature-choose-cur"></p>
                        <!-- <img src="files/images/header-img.png">-->
                        <div class="institutional-man-info2">
                            <p>{$vo.username}</p>
                            <span>{$vo.tel}</span>
                        </div>
                    </a>
                </li>
            </volist>
        </ul>
    </div>
    <div class="sure-btn-height"></div>
    <div class="tax-documents-down-btn">
        <a href="javascript:void(0);" onclick="tjpeople(this)" data-upid="0" id="tjpeople">确定</a>
    </div>
</div>
<input type="hidden" value="{$htid}" id="htid"/>
<input type="hidden" value="{$minfo.id}" id="mid"/>
<input type="hidden" value="{$id}" id="img"/>
<input type="hidden" value="" id="choseseal"/>
<input type="hidden" value="" id="chosesealname"/><!-- 印章名称 -->
<input type="hidden" value="" id="nowusername"/><!-- 姓名 -->
<input type="hidden" value="" id="nowtype"/><!-- 签名/印章 -->
<input type="hidden" value="" id="nowtel"/><!-- 电话 -->
<input type="hidden" value="" id="nowuid"/><!-- 当前添加用户id -->
<input type="hidden" value="1" id="nowposttype"/><!-- 是否为自动流转 -->
<div class="signing-choose signing-choose-cur">
    <a href="{:U('Sendsign/templist',array('imgid'=>$id,'htid'=>$htid))}" class="signing-list-a">
        <span>签署结束时间</span>
        <eq name="minfo.id" value="">
            <m>请选择模板</m>
            <else/>
            <m>{$minfo.name}</m>
        </eq>
    </a>
    <p class="signing-step-title">签署步骤</p>
    <ul class="signing-step-list">
        <volist name="list" id="vo">
            <li>
                <div class="signing-step-cont2">
                    <div class="signing-step-number2">
                        <span>{$vo.orders}</span>
                    </div>
                    <div class="signing-step-text3">
                        <p class="signing-step-name2">
                            <span>{$vo.username}</span>
                            <eq name="vo.type" value="1">
                                <span class="signing-step-label2">签名</span>
                            </eq>
                            <eq name="vo.type" value="2">
                                <span class="signing-step-seal2">印章</span>
                                <m>{$vo.sealname}</m>
                            </eq>
                        </p>
                        <div class="signing-step-tel2">
                            <p>
                                <span>{$vo.tel}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </li>
        </volist>
    </ul>
</div>
<div class="signing-choose">
    <div class="signing-list">
        <span>是否需要盖章</span>
        <p class="stamp">
            <a href="javascript:void(0)"></a>
            <m>是</m>
            <a href="javascript:void(0)" class="stamp-cur"></a>
            <m>否</m>
        </p>
    </div>
    <a href="javascript:void(0);" id="chose" onclick="choseseal()" class="signing-list-b">
        <span>印章选择</span>
        <m>请选择印章</m>
    </a>
    <div id="seallist" style="display: none;">
        <div class="tax-documents-search">
            <input type="text" placeholder="请输入搜索印章名称" id="sealsearch">
            <a href="javascript:void(0)" onclick="showseal()" class="tax-documents-search-btn">搜索</a>
        </div>
        <div class="search-height"></div>
        <ul class="seal-list2">
            <!-- <li>
                 <img src="/files/images/seal_img.png">
                 <p>印章名称印章名称印章名称</p>
             </li>
             <li>
                 <img src="/files/images/seal_img.png">
                 <p>印章名称印章名称印章名称</p>
             </li>-->
        </ul>
        <div class="tax-documents-down-btn">
            <a href="javascript:void(0)" onclick="gblayer()">确定</a>
        </div>
    </div>
    <script>
        function choseseal(){
            var pageii = layer.open({
                type: 1
                ,content: $('#seallist').html()
                ,anim: 'up'
                ,style: 'position:fixed; left:0; top:0; width:100%; height:100%; border: none; -webkit-animation-duration: .5s; animation-duration: .5s;'
            });
            showseal();
            /*$(".seal-list2 li").each(function(i){
                console.log(i)
                $(".layui-m-layermain .seal-list2 li").eq(i).click(function(){
                    $(".layui-m-layermain .seal-list2 li").removeClass("seal-list2-cur");
                    $(".layui-m-layermain .seal-list2 li").eq(i).addClass("seal-list2-cur");
                })
            })*/
        }
        function gblayer(){
            layer.closeAll();
        }
        function xz(obj){
            $(obj).addClass("seal-list2-cur");
            $(obj).siblings().removeClass("seal-list2-cur");
            $("#choseseal").val($(obj).data('uid'));
            $("#chosesealname").val($(obj).data('name'));
            $("#chose").find('m').text($(obj).data('name'))


        }
        function showseal(){
            var title =  $('.layui-m-layermain').find("#sealsearch").val();
            $.post('/home/sendsign/getchoseseallist',{title:title},function(data){
                if(data.code==2){
                    window.location.href='/home/index/index';
                }else if(data.code==1){
                    var sealhtml = '';
                    $.each(data.data, function (index, item) {
                        sealhtml+= ' <li data-uid="'+item.uid+'" onclick="xz(this)" data-name="'+item.name+'">' +
                            '                <img src="'+item.img+'">' +
                            '                <p>'+item.name+'</p>' +
                            '            </li>';
                    })
                    $('.layui-m-layermain').find('.seal-list2').html(sealhtml);
                }
            },'json')
        }
    </script>
    <div class="signing-list">
        <span>签署文件名称</span>
        <input type="text" class="signing-list-name" placeholder="请输入文件名称" id="signname">
    </div>
    <p class="signing-step-title">签署步骤</p>
    <ul class="signing-step-list" id="addqs">
        <!--<li>
            <a>
                <div class="signing-step-cont">
                    <div class="signing-step-number">
                        <span>1</span>
                    </div>
                    <div class="signing-step-text2">
                        <p class="signing-step-name">
                            <span>姓名</span>
                            <span class="signing-step-label">签字</span>
                        </p>
                        <div class="signing-step-tel">
                            <p>
                                <span>13312345678</span>
                                <span>&nbsp;</span>
                            </p>
                        </div>
                    </div>
                    <div class="signing-step-sign-btn">
                        <a href="signature_list_a.html" class="signing-step-sign-edit">修改</a>
                        <a href="javascript:void(0)" class="signing-step-sign-delete">删除</a>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a>
                <div class="signing-step-cont">
                    <div class="signing-step-number">
                        <span>2</span>
                    </div>
                    <div class="signing-step-text2">
                        <p class="signing-step-name">
                            <span>姓名</span>
                            <span class="signing-step-label">印章</span>
                        </p>
                        <div class="signing-step-tel">
                            <p>
                                <span>13312345678</span>
                                <span>&nbsp;</span>
                            </p>
                        </div>
                    </div>
                    <div class="signing-step-sign-btn">
                        <a href="signature_list_a.html" class="signing-step-sign-edit">修改</a>
                        <a href="javascript:void(0)" class="signing-step-sign-delete">删除</a>
                    </div>
                </div>
            </a>
        </li>-->
    </ul>
    <a href="javascript:void(0)" onclick="add()" data-upid="0" class="signing-step-add">
        <div class="signing-step-cont">
            <div class="signing-step-number">
                <span>&nbsp;</span>
            </div>
            <div class="signing-step-text">
                <p class="signing-step-man">请选择签署人</p>
            </div>
        </div>
    </a>
    <script type="text/javascript">
        function getsignlist(obj) {
            var fid = $(obj).data('fid');
            var username = $(obj).data('name');
            var status = $(obj).data('status');
            var title =  $(".layui-m-layer").find("#signnamesearch").val();
            var html = '';
            var html2 = '';
            $.post('/home/sendsign/getsignaturelist', {fid: fid,title:title}, function (data) {
                $.each(data.data, function (index, item) {
                    if(data.isend==1){
                        html += ' <li data-username="'+item.username+'" data-uid="'+item.uid+'" data-tel="'+item.tel+'" data-type="1" onclick="chosepeople(this)">' +
                            '       <a class="background-none">' +
                            '          <p class="signature-choose"></p>' +
                            '                 <div class="institutional-man-info2">' +
                            '                      <p>' + item.username + '</p>' +
                            '                      <span>' + item.tel + '</span>' +
                            '                 </div>' +
                            '      </a>' +
                            '</li>'
                    }else{
                        html += "<li><a href='javascript:void(0)' class='institutional-settings-a getlist' data-fid='" + item.uid + "' data-name='"+item.username+"' data-status='add' onclick='getsignlist(this)'>" + item.username + "</a></li>";
                    }

                });
                $.each(data.people, function (index, item) {
                    html2 += ' <li data-username="'+item.username+'" data-uid="'+item.uid+'" data-tel="'+item.tel+'" data-type="1" onclick="chosepeople(this)">' +
                        '       <a class="background-none">' +
                        '          <p class="signature-choose"></p>' +
                        '                 <div class="institutional-man-info2">' +
                        '                      <p>' + item.username + '</p>' +
                        '                      <span>' + item.tel + '</span>' +
                        '                 </div>' +
                        '      </a>' +
                        '</li>'
                })
                if(data.isend==1){
                    if(status=='add'){
                        $(".layui-m-layer").find("#topnav").prepend('<a href="javascript:void(0)" style="color:#333333;" data-fid="'+fid+'" data-name="'+username+'" data-status="remove">'+username+'</a>');
                    }else{
                        $(".layui-m-layer").find("#topnav").find('a').each(function(ii,vv){
                            if($(this).data('fid') > fid){
                                $(this).remove();
                            }
                        })
                    }
                    $(".layui-m-layer").find("#signnamelist").html('');
                    $(".layui-m-layer").find("#signnamelist").css('height',0);
                    $(".layui-m-layer").find("#signnamelist-user").html('');
                    $(".layui-m-layer").find("#signnamelist-user").append(html);
                    $(".layui-m-layer").find("#signnamelist-user").append(html2);
                }else{
                    if(status=='add'){
                        $(".layui-m-layer").find("#topnav").prepend('<a href="javascript:void(0)" onclick="getsignlist(this)" data-fid="'+fid+'" data-name="'+username+'" data-status="remove">'+username+'</a>');
                    }else{
                        $(".layui-m-layer").find("#topnav").find('a').each(function(ii,vv){
                            if($(this).data('fid') > fid){
                                $(this).remove();
                            }
                        })
                    }
                    $(".layui-m-layer").find("#signnamelist").html('');
                    $(".layui-m-layer").find("#signnamelist").css('height','40vh');
                    $(".layui-m-layer").find("#signnamelist").html(html);
                    $(".layui-m-layer").find("#signnamelist-user").html('');
                    $(".layui-m-layer").find("#signnamelist-user").html(html2);
                }
            }, 'json')
            $(".signature-choose").each(function(i){
                //console.log(i)
                $(".signature-choose").eq(i).click(function(){
                    $(".signature-choose").removeClass("signature-choose-cur");
                    $(".signature-choose").eq(i).addClass("signature-choose-cur");
                })
            })

        }

        function getseallist(){
            var id = $("#choseseal").val();

            $.post('/home/sendsign/getseallist',{id:id},function(data){
                if(data.data==''){
                    $('#nowusername').val('');
                    $('#nowtel').val('');
                    $('#nowtype').val('');
                }else{
                    $(".layui-m-layer").find(".institutional-man").html('');
                    var username = data.data[0].username;
                    var tel = data.data[0].tel;
                    var uid = data.data[0].uid;
                    var html = ' <li data-username="'+username+'" data-tel="'+tel+'" data-uid="'+uid+'" data-type="2" onclick="chosepeople(this)">' +
                        '                    <a class="background-none">' +
                        '                        <p class="signature-choose"></p>' +
                        /* '                        <img src="files/images/header-img.png">' +*/
                        '                        <div class="institutional-man-info2">' +
                        '                            <p>'+data.data[0].username+'</p>' +
                        '                            <span>'+data.data[0].tel+'</span>' +
                        '                        </div>' +
                        '                    </a>' +
                        '                </li>';
                    console.log(html);
                    $(".layui-m-layer").find(".institutional-man").html(html);
                }
            },'json')
        }

        function add(obj){
            var upid = $(obj).data("upid");
            var pageii = layer.open({
                type: 1
                ,content: $('#sss').html()
                ,anim: 'up'
                ,style: 'position:fixed; left:0; top:0; width:100%; height:100%; border: none; -webkit-animation-duration: .5s; animation-duration: .5s;'
            });

            $(".institutional-settings-a").each(function(i){
                $(".institutional-settings-a").eq(i).click(function(){
                    $(".institutional-settings-a").eq(i).toggleClass("institutional-settings-cur");
                    $(".institutional-settings-list").eq(i).toggleClass("institutional-settings-list-cur");
                })
            })
            $(".signature-class a").each(function(i){

                $(".signature-class a").eq(i).on('click',function(){
                    $(".signature-class a").removeClass("signature-class-cur");
                    $(".signature-class a").eq(i).addClass("signature-class-cur");
                    $(".sign-seal").removeClass("sign-seal-cur");
                    $(".sign-seal").eq(i).addClass("sign-seal-cur");
                    getseallist();
                })
            })
            $(".layui-m-layer").find('.signature-class').find('a').eq(0).addClass('signature-class-cur');
            $(".layui-m-layer").find('.signature-class').find('a').eq(1).removeClass('signature-class-cur');
            $('.layui-m-layer').find("#oneclick").trigger("click");
            $('.layui-m-layer').find("#tjpeople").data("upid",upid);

        }
        function chosepeople(obj){
            var username = $(obj).data('username');
            var tel   = $(obj).data('tel');
            var type  = $(obj).data('type');
            var uid = $(obj).data('uid');
            $("#nowusername").val(username);
            $("#nowuid").val(uid);
            $("#nowtel").val(tel);
            $("#nowtype").val(type);
            $(obj).find('p').addClass('signature-choose-cur');
            $(obj).siblings().find('p').removeClass("signature-choose-cur");
        }

        function tjpeople(obj){
            var upid = $(obj).data('upid');

            if(upid=='0'){
                var nowi = parseInt($('#addqs').find('li').length) + parseInt(1);
                console.log(parseInt($('#addqs').find('li').length));
                var nowusername =  $("#nowusername").val();
                var nowtel = $("#nowtel").val();
                var nowtype = $("#nowtype").val();
                var uid = $("#nowuid").val();
                if(nowtype == 1){
                    var html = '<li id="search'+nowi+'">' +
                        '            <a>' +
                        '                <div class="signing-step-cont" data-uid="'+uid+'" data-order="'+nowi+'" data-type="1">' +
                        '                    <div class="signing-step-number">' +
                        '                        <span class="orders">'+nowi+'</span>' +
                        '                    </div>' +
                        '                    <div class="signing-step-text2">' +
                        '                        <p class="signing-step-name">' +
                        '                            <span>'+nowusername+'</span>' +
                        '                            <span class="signing-step-label">签字</span>' +
                        '                        </p>' +
                        '                        <div class="signing-step-tel">' +
                        '                            <p>' +
                        '                                <span>'+nowtel+'</span>' +
                        '                                <span>&nbsp;</span>' +
                        '                            </p>' +
                        '                        </div>' +
                        '                    </div>' +
                        '                    <div class="signing-step-sign-btn">' +
                        '                        <a href="javascript:void(0)" class="signing-step-sign-edit" data-upid="'+nowi+'" onclick="add(this)">修改</a>' +
                        '                        <a href="javascript:void(0)" class="signing-step-sign-delete" data-upid="'+nowi+'" onclick="delli(this)">删除</a>' +
                        '                    </div>' +
                        '                </div>' +
                        '            </a>' +
                        '        </li>';
                }else{
                    var nowsealname = $("#chosesealname").val();
                    var html = '<li id="search'+nowi+'">' +
                        '            <a>' +
                        '                <div class="signing-step-cont" data-uid="'+uid+'" data-order="'+nowi+'" data-type="2">' +
                        '                    <div class="signing-step-number">' +
                        '                        <span class="orders">'+nowi+'</span>' +
                        '                    </div>' +
                        '                    <div class="signing-step-text2">' +
                        '                        <p class="signing-step-name">' +
                        '                            <span>'+nowusername+'</span>' +
                        '                            <span class="signing-step-label">印章</span>' +
                        '                        </p>' +
                        '                        <div class="signing-step-tel">' +
                        '                            <p>' +
                        '                                <span>'+nowtel+'</span>' +
                        '                                <span>'+nowsealname+'</span>' +
                        '                            </p>' +
                        '                        </div>' +
                        '                    </div>' +
                        '                    <div class="signing-step-sign-btn">' +
                        '                        <a href="javascript:void(0)" class="signing-step-sign-edit" data-upid="'+nowi+'" onclick="add(this)">修改</a>' +
                        '                        <a href="javascript:void(0)" class="signing-step-sign-delete" data-upid="'+nowi+'" onclick="delli(this)">删除</a>' +
                        '                    </div>' +
                        '                </div>' +
                        '            </a>' +
                        '        </li>';

                }
                if(nowusername !=''){
                    $('.signing-step-list').append(html);
                }
                $("#chosesealname").val('');
                $("#nowusername").val('');
                $("#nowtel").val('');
                $("#nowtype").val('');
                $("#nowuid").val('');
                layer.closeAll();
            }else{
                var nowusername =  $("#nowusername").val();
                var nowtel = $("#nowtel").val();
                var nowtype = $("#nowtype").val();
                var uid = $("#nowuid").val();
                if(nowtype==1){
                    var html = '<a>' +
                        '                <div class="signing-step-cont" data-uid="'+uid+'" data-order="'+upid+'" data-type="1">' +
                        '                    <div class="signing-step-number">' +
                        '                        <span class="orders">'+upid+'</span>' +
                        '                    </div>' +
                        '                    <div class="signing-step-text2">' +
                        '                        <p class="signing-step-name">' +
                        '                            <span>'+nowusername+'</span>' +
                        '                            <span class="signing-step-label">签字</span>' +
                        '                        </p>' +
                        '                        <div class="signing-step-tel">' +
                        '                            <p>' +
                        '                                <span>'+nowtel+'</span>' +
                        '                                <span>&nbsp;</span>' +
                        '                            </p>' +
                        '                        </div>' +
                        '                    </div>' +
                        '                    <div class="signing-step-sign-btn">' +
                        '                        <a href="javascript:void(0)" class="signing-step-sign-edit" data-upid="'+upid+'" onclick="add(this)">修改</a>' +
                        '                        <a href="javascript:void(0)" class="signing-step-sign-delete" data-upid="'+upid+'" onclick="delli(this)">删除</a>' +
                        '                    </div>' +
                        '                </div>' +
                        '</a>';
                }else{
                    var nowsealname = $("#chosesealname").val();
                    var html = '<a>' +
                        '                <div class="signing-step-cont" data-uid="'+uid+'" data-order="'+upid+'" data-type="2">' +
                        '                    <div class="signing-step-number">' +
                        '                        <span class="orders">'+upid+'</span>' +
                        '                    </div>' +
                        '                    <div class="signing-step-text2">' +
                        '                        <p class="signing-step-name">' +
                        '                            <span>'+nowusername+'</span>' +
                        '                            <span class="signing-step-label">印章</span>' +
                        '                        </p>' +
                        '                        <div class="signing-step-tel">' +
                        '                            <p>' +
                        '                                <span>'+nowtel+'</span>' +
                        '                                <span>'+nowsealname+'</span>' +
                        '                            </p>' +
                        '                        </div>' +
                        '                    </div>' +
                        '                    <div class="signing-step-sign-btn">' +
                        '                        <a href="javascript:void(0)" class="signing-step-sign-edit" data-upid="'+upid+'" onclick="add(this)">修改</a>' +
                        '                        <a href="javascript:void(0)" class="signing-step-sign-delete" data-upid="'+upid+'" onclick="delli(this)">删除</a>' +
                        '                    </div>' +
                        '                </div>' +
                        '</a>';
                }
                if(nowusername !='') {
                    $("#addqs").find("#search" + upid).html(html);
                }
                $("#chosesealname").val('');
                $("#nowusername").val('');
                $("#nowtel").val('');
                $("#nowtype").val('');
                $("#nowuid").val('');
                layer.closeAll();
            }
        }

        function delli(obj){
            var upid = $(obj).data('upid');
            $("#addqs").find('li').each(function(index,item){
                var nowi = $(this).find('.orders').text();
                if(nowi == upid){
                    $(this).remove();
                }else if(nowi > upid){
                    var newi = parseInt(nowi) - parseInt(1);
                    $(this).attr("id",'search'+newi);
                    $(this).find('.orders').text(newi);
                    $(this).find('.signing-step-cont').data('order',newi);
                }
            })
        }

        function zztj(){
            var posttype = $("#nowposttype").val();
            var mid = $("#mid").val();
            var endtime = $("#endtime").val();
            var img = $("#img").val();
            var htid = $("#htid").val();
            if(posttype == 1){
                if(img == ''){
                    $(".spring-window").hide();
                    layer.open({
                        content: '请先选择要签署的文件图片'
                        ,skin: 'msg'
                        ,time: 2 //2秒后自动关闭
                    });

                    return false;
                }
                if(mid == ''){
                    $(".spring-window").hide();
                    layer.open({
                        content: '请先选择模板'
                        ,skin: 'msg'
                        ,time: 2 //2秒后自动关闭
                    });
                    return false;
                }
                if(endtime == ''){
                    $(".spring-window").hide();
                    layer.open({
                        content: '请先选择签署结束时间'
                        ,skin: 'msg'
                        ,time: 2 //2秒后自动关闭
                    });
                    return false;
                }
                $.post('/home/sendsign/signdoing',{mid:mid,endtime:endtime,img:img,ismake:'1',htid:htid},function(data){
                    if(data.code==1){
                        $(".spring-window").hide();
                        layer.open({
                            content: '发起签署成功'
                            ,skin: 'msg'
                            ,time: 2 //2秒后自动关闭
                        });
                        setTimeout(function(){
                            window.location.href='/home/sendsign/forminfo/id/'+data.sid;
                        },1000)
                    }else{
                        $(".spring-window").hide();
                        layer.open({
                            content: data.msg
                            ,skin: 'msg'
                            ,time: 2 //2秒后自动关闭
                        });
                        return false;
                    }
                },'json')
            }else{
                var templateson = $("#addqs").find("li").length;
                if(templateson == 0){
                    $(".spring-window").hide();
                    layer.open({
                        content: '请添加签署步骤'
                        ,skin: 'msg'
                        ,time: 2 //2秒后自动关闭
                    });
                    return false;
                }
                if(img == ''){
                    $(".spring-window").hide();
                    layer.open({
                        content: '请先选择要签署的文件图片'
                        ,skin: 'msg'
                        ,time: 2 //2秒后自动关闭
                    });

                    return false;
                }

                if(endtime == ''){
                    $(".spring-window").hide();
                    layer.open({
                        content: '请先选择签署结束时间'
                        ,skin: 'msg'
                        ,time: 2 //2秒后自动关闭
                    });
                    return false;
                }
                var  signname = $("#signname").val();
                if(signname == ''){
                    $(".spring-window").hide();
                    layer.open({
                        content: '请输入文件名称'
                        ,skin: 'msg'
                        ,time: 2 //2秒后自动关闭
                    });
                    return false;
                }
                var  arr = new Array();
                $("#addqs").find("li").each(function(i){
                    var nowuid = $(this).find('.signing-step-cont').data('uid');
                    var order  = $(this).find('.signing-step-cont').data('order');
                    var type   = $(this).find('.signing-step-cont').data('type');
                    arr.push({uid:nowuid,orders:order,type:type})
                })

                $.post('/home/sendsign/signdoing',{mid:mid,endtime:endtime,img:img,ismake:'2',tempatename:signname,templateson:arr,htid:htid},function(data){
                    if(data.code==1){
                        $(".spring-window").hide();
                        layer.open({
                            content: '发起签署成功'
                            ,skin: 'msg'
                            ,time: 2 //2秒后自动关闭
                        });
                        setTimeout(function(){
                            window.location.href='/home/sendsign/forminfo/id/'+data.sid;
                        },1000)
                    }else{
                        $(".spring-window").hide();
                        layer.open({
                            content: data.msg
                            ,skin: 'msg'
                            ,time: 2 //2秒后自动关闭
                        });
                        return false;
                    }
                },'json')
            }
        }
    </script>
</div>
<div class="sure-btn-height"></div>
<div class="tax-documents-down-btn">
    <a href="JavaScript:void(0)" class="sign-initiate-sure">确定</a>
</div>
<div class="spring-window">
    <div class="win-box">
        <p>确定是否发起签署?</p>
        <span>
            <a href="javascript:void(0)" class="win-btn-cancle">取消</a>
            <a href="javascript:void(0)" class="win-btn-sure" onclick="zztj()">确定</a>
        </span>
    </div>
</div>
</body>
</html>
