<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>组织架构</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="/Public/framework/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/Public/css/font-awesome.min.css" />
    <link href="/Public/framework/css/animate.min.css" rel="stylesheet">
    <link href="/Public/framework/css/style.min.css?v=4.1.0" rel="stylesheet">
    <link href="/Public/framework/layui3/css/layui.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/Public/admin/lib/Hui-iconfont/1.0.7/iconfont.css" />

</head>
<style>
    .btn-success.btn-outline{
        margin-left: 10px;
    }
    .col-sm-6 {
        width: 70%;
    }
</style>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins col-sm-5" style="width: 100%;">
        <div class="ibox-title">
            <h5>组织架构</h5>
        </div>
        <div class="ibox-content">
            <div class="form-group">
                <button class="btn btn-outline btn-success" type="button" onclick="window.location.reload();">刷新组织架构</button>
            </div>

            <div class="ibox-content">
                <div class="col-sm-6">
                    <ul id="tree"></ul>
                </div>
                <div class="col-sm-6">
                    <div id="event_output"></div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>


<!-- End Panel Other -->
<script src="/Public/framework/js/jquery.min.js?v=2.1.4"></script>
<script src="/Public/framework/js/bootstrap.min.js?v=3.3.6"></script>
<script src="/Public/framework/js/content.min.js?v=1.0.0"></script>
<script src="/Public/framework/layui3/layui.js"></script>
<script src="/Public/framework/js/jquery.form.js"></script>
<script type="text/javascript">
    var node_del_url = "/admin/framework/del";
    var box;
    var nowNode = null;

    $(function() {

        getTree();


        function getTree() {
            layui.use(['tree', 'layer'], function () {
                var layer = layui.layer;

                $.post("/admin/framework/index", function (res) {
                    if (111 == res.code) {
                        window.location.reload();
                    }
                    layui.tree({
                        elem: '#tree'
                        , nodes: res.data
                        , click: function (node) {
                            console.log(node);
                            console.log(node.children.length)
                           /* if(node.children.length > 0){
                                layer.msg('请选择没有下级的层级',function () {
                                    
                                })
                                return false;
                            }*/
                            layer.confirm('确定要选择【' + node.name + '】吗？', {
                                btn: ['确定', '取消'] //按钮
                            }, function () {

                                parent.$("#cj").val(node.name);
                                parent.$("#pid").val(node.id);
                                var index = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(index);
                            });


                            nowNode = node;
                        }
                    });
                }, 'json');
            });
        }
    })



</script>
</body>
</html>