<include file="Index/header" />
<form style="width:90%;text-align: center">
    <table>
        <tr>
            <td align="right" height="50" width="50%"><label>人员名称：</label></td>
            <td align="left"><input name="username" value="{$data.username}" required class="input-text radius" placeholder="输入人员名称" style="width:200px;height: 30px"></td>
        </tr>
        <!--<tr>
            <td align="right" height="50" width="50%"><label>联系电话：</label></td>
            <td align="left"><input name="tel" value="{$data.tel}" required class="input-text radius" placeholder="输入联系电话" style="width:200px;height: 30px"></td>
        </tr>-->

        <tr>
            <td align="right" height="50" width="50%"><label>身份证号：</label></td>
            <td align="left"><input name="idnumber" value="{$data.idnumber}"  required class="input-text radius" placeholder="输入身份证号" style="width:200px;height: 30px"></td>
        </tr>
        <tr>
            <td align="right" height="50" width="50%"><label>所属层级：</label></td>
            <td align="left">
                <input name="name" value="{$cj.node_name}" class="input-text radius" placeholder="选择所属层级" id="cj" style="width:200px;height: 30px" disabled>
                <input type="hidden" name="pid" value="{$data.pid}" id="pid"/>
                <span style="margin-left: 10px;color:grey;cursor:pointer;" id="choise">选择层级</span>
            </td>
        </tr>
        <tr>
            <td align="right" height="50" width="50%"><label>所属部门：</label></td>
            <td align="left"><input name="bm" value="{$data.bm}" class="input-text radius" placeholder="输入所属部门" style="width:200px;height: 30px"></td>
        </tr>
        <tr>
            <td align="right" height="50" width="50%"><label>所属岗位：</label></td>
            <td align="left"><input name="worker" value="{$data.worker}" class="input-text radius" placeholder="输入所属岗位" style="width:200px;height: 30px"></td>
        </tr>
        <tr>
            <td align="right" height="50" width="50%"><label>是否为专管员：</label></td>
            <td align="left">
                <select class="input-text radius" style="width:200px;height: 30px" id="" name="isbest">
                    <option value="2" <eq name="data.isbest" value="2">selected</eq> >否</option>
                    <option value="1" <eq name="data.isbest" value="1">selected</eq>>是</option>
                </select>
            </td>
        </tr>
        <tr>
            <td align="right" height="50" width="50%"><label>是否有加盖印章权限：</label></td>
            <td align="left">
                <select class="input-text radius" style="width:200px;height: 30px" id="choiseseal">
                    <option>请选择</option>
                    <option value="1" <gt name="data.sid" value="0">selected</gt> >是</option>
                    <option value="2" <eq  name="data.sid" value="0">selected</eq>>否</option>
                </select>
                <span style="margin-left: 10px;color:grey;cursor:pointer;display:<eq name='data.sid' value='0'>none<else/>inline-block</eq>;" id="seal">选择印章</span>
                <input type="hidden" value="{$data.sid}" name="sid" id="yzstr">
            </td>
        </tr>
        <tr id="rqshow" style="display:<eq name='data.sid' value='0'>none<else/>table-row</eq>;">
            <td align="right" height="50" width="50%"><label>已选择印章：</label></td>
            <td align="left" id="rq">
                {$img}
            </td>
        </tr>
        <input type="hidden" name="id" value="{$data.id}"/>
    </table>
</form>

<include file="Index/foot" />
<script>
    $(function(){
        $("#choise").click(function(){
            layer.open({
                type: 2,
                title: '选择层级',
                shadeClose: false,
                shade: 0.8,
                area: ['70%', '90%'],
                content: '/admin/users/choise'
            });
        })

        $("#choiseseal").on('change',function(){
            var val = $(this).val();
            if(val == 1){
                $("#seal").show();
                $("#rqshow").show();
            }else{
                $("#seal").hide();
                $("#rqshow").hide();
                $("#yzstr").val('');
                $("#rq").html('');
            }
        })
        $("#seal").on('click',function(){
            layer.open({
                type: 2,
                title: '选择印章',
                shadeClose: false,
                shade: 0.8,
                area: ['70%', '90%'],
                content: '/admin/users/seal'
            });
        })
    })

    function showimg(obj){

        var img = $(obj).attr('src');
        layer.open({
            type: 1,
            title: false,
            closeBtn: 0,
            area: ['50%','50%'],
            skin: 'layui-layer-nobg', //没有背景色
            shadeClose: true,
            content: "<img src='"+img+"' width='100%' height='100%' >"
        });
    }
</script>